@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.gangwon-font {
    font-family: 'GangwonState', sans-serif;
}
.display-container{
    max-width: 1200px;   
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
/* navbar section */
.navbar {
    background-color: #033075;
    padding: 8px 12px;
}
.navbar_logo img {
    width: 130px;
    height: 25px;
    margin-left: 20px;
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar_menu li {
    padding: 8px 12px;
}
.navbar a {
    color: white;
}
.navbar_menu li:hover {
    background-color: #f0f4f5;
    border-radius: 4px;
}
.navbar_menu li:hover > a {
    color: #033075;
}
.navbar_login {
    list-style: none;
    color: #f0f4f5;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 12px;
}
.logoutBtn {
    margin-right: 15px;
}
.navbar_login li:hover {
    background-color: #f0f4f5;
    border-radius: 4px;
    padding: 6px 4px;
}
.navbar_login li:hover > a {
    color: #033075;
}
.navbar_login i{
    padding-left: 5px;
}
.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 20px;
    color: #d49466  ;
}
.navbar_toggleBtn:hover i:hover {
    color: #f0f4f5;
}

/* Header section */
.header_section {
    background-color: #e2edff;
    margin-top: 56px;
}
.header p {
    font-size: 32px;
    margin: 8px;
    padding: 10px 0 0 16px;
}
.header_line {
    border-top: 1px black solid;
}
.subheader {
    font-size: 28px;
    margin-top: 70px;
}
.subheader .blue {
    z-index: 100;
    color: #006ae2;
}
.subheader_line {
    display: flex;
    justify-content: center;
}
.subheader_line .line {
    width: 210px;
    height: 15px;
    background-color: #f1e6a7;
    margin-right: 166px;
    margin-top: -32px;
    z-index: 10;
}
input::placeholder {
    color: #9d9d9d;
}

/* search_section */

.searchpart form{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.search_bar input {
    width:250px;
    height: 45px;
    border-radius: 5px;
    background-color: #fcfcfc;
    border: 2px solid #9d9d9d;
    padding-left: 10px;
    font-size: 12px;
}
.searchBtn button:hover {
    border: 2px solid black;
}
.searchBtn button {
    background-color: #fcfcfc;
    border: 2px solid #9d9d9d;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
}
.searchBtn i {
    color: #9d9d9d;
}
.header_img img {
    margin-left: 910px;
    width: 220px;
    height: 220px;
    margin-top: -150px;
}


/* category section */
.category{
    display:flex;
    justify-content: space-between;
}
.flex_between {
    display: flex;
}
.optional #ed_target{
    width:120px;
    height:47px;
    font-size:16px;
    stroke:2px solid #033075;
    color:#9D9D9D;
    margin:23px 11px 0px 10px;
    padding: 0 8px;
    border-radius: 5px;
}
#ed_target:hover {
    border: 2px solid black;
}
.optional #ed_field{
    width:120px;
    height:47px;
    font-size:16px;
    stroke:2px solid #033075;
    color:#9D9D9D;
    margin:23px 11px 0 0;
    padding: 0 8px;
    border-radius: 5px;
}
#ed_field:hover {
    border: 2px solid black;
}
.category_searchBtn {
    margin-top: 23px;
}
.category_searchBtn input{
    color: white;
    padding-left: 5px;
    background-color: #033075;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    width: 80px;
    height: 47px;
}
.category_searchBtn input:hover {
    color: #033075;
    background-color: white;
    border: 3px solid #033075;
}
.writeBtn {
    margin-top: 23px;
    padding-right: 10px;
}
.writeBtn button {
    color: white;
    padding-left: 5px;
    background-color: #033075;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    width: 100px;
    height: 47px;
}
.writeBtn button:hover {
    color: #033075;
    background-color: white;
    border: 3px solid #033075;
}
/* consult list */
.consult_list {
    background-color: #f1f3f6;
    z-index: -1;
    padding: 5px 0;
    margin-top: 23px;
}
.consult_list .header {
    color: black;
    font-size: 30px;
    padding: 20px;
}
.consult_list .content, .answer {
    color: #9d9d9d;
    font-size: 20px;
    padding: 10px 30px;
}
.question_box {
    border: 1px solid #033075;
    background-color: #fcfcfc;
    border-radius: 15px;
    width: 1000px;
    height: 270px;
    margin: 50px 100px 50px 100px;
}
.question_box:hover {
    background-color: #f6fbfe;
    border: 2px solid #006ae2;
}
.question_box .line {
    border: 1px solid #9d9d9d;
    margin: 0 30px;
}
.question_box .answer {
    margin-top: 25px;
}
.pagination a {
    margin: 30px 0;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    transition: background-color .3s;
  }
  .pagination a:hover {
    background-color: dodgerblue ;
    color: white;
    border-radius: 50px;
  }
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
    border-radius: 50px;
  }

@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_login {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toggleBtn{
        display: block;
    }
    .navbar_menu.active, .navbar_login.active {
        display: flex;
    }
}