@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.gangwon-font {
    font-family: 'GangwonState', sans-serif;
}
.display-container{
    max-width: 1200px;   
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
/* navbar section */
.navbar {
    background-color: #033075;
    padding: 8px 12px;
}
.navbar_logo img {
    width: 130px;
    height: 25px;
    margin-left: 20px;
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar_menu li {
    padding: 8px 12px;
}
.navbar a {
    color: white;
}
.navbar_menu li:hover {
    background-color: #f0f4f5;
    border-radius: 4px;
}
.navbar_menu li:hover > a {
    color: #033075;
}

.navbar_login {
    list-style: none;
    color: #f0f4f5;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 12px;
}
.logoutBtn {
    margin-right: 15px;
}
.navbar_login li:hover {
    background-color: #f0f4f5;
    border-radius: 4px;
    padding: 6px 4px;
}
.navbar_login li:hover > a {
    color: #033075;
}
.navbar_login i{
    padding-left: 5px;
}
.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 20px;
    color: #d49466  ;
}
.navbar_toggleBtn:hover i:hover {
    color: #f0f4f5;
}

/*header*/
.header_section {
    background-color: #e2edff   ;
    margin-top: 56px;
}
.header p {
    font-size: 32px;
    margin: 8px;
    padding: 10px 0 0 16px;
}
.header_line {
    border-top: 1px black solid;
}
.subheader {
    font-size: 28px;
    margin-top: 70px;
}
.subheader .blue {
    z-index: 100;
    color: #006ae2;
}
.subheader_line {
    display: flex;
    justify-content: center;
}
.subheader_line .line {
    width: 210px;
    height: 15px;
    background-color: #f1e6a7;
    margin-right: 166px;
    margin-top: -32px;
    z-index: 10;
}
input::placeholder {
    color: #9d9d9d;
}
/* search section */
.search_section .searchheader   {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.search_bar input {
    width:250px;
    height: 45px;
    border-radius: 5px;
    background-color: #fcfcfc;
    border: 2px solid #9d9d9d;
    padding-left: 10px;
    font-size: 12px;
}

.searchBtn button:hover {
    border: 2px solid black;
}
.searchBtn button {
    background-color: #fcfcfc;
    border: 2px solid #9d9d9d;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
}
.searchBtn i {
    color: #9d9d9d;
    padding: px;
}
.consult_img {
    display: flex;
    justify-content: end;
    margin-left: 910px;
    width: 220px;
    height: 220px;
    margin-top: -150px;
}

/*카테고리*/
.category{
    display:flex;
}
.optional .ed_target{
    width:120px;
    height:47px;
    font-size:16px;
    stroke:2px solid #033075;
    color:#9D9D9D;
    margin:23px 11px 0px 10px;
    padding: 0 8px;
    border-radius: 5px;
}
.ed_target:hover {
    border: 2px solid black;
}
.optional .ed_field{
    width:120px;
    height:47px;
    font-size:16px;
    stroke:2px solid #033075;
    color:#9D9D9D;
    margin:23px 11px 0 0;
    padding: 0 8px;
    border-radius: 5px;
}
.ed_field:hover {
    border: 2px solid black;
}

/*페이지네이션*/
.page_section{
    margin: 50px 25px 50px 25px;
    max-width: 1200px;
}
.page_line1 {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr
}
.page_line2 {
    display: flex;
    justify-content: center;
}
.page_section .page_box{
    border:2px solid #033075;
    border-radius: 10px;
    width: 350px;
    height: 260px;
    margin: 10px 10px;
}
.box_video{
    width: 310px;
    height: 130px;
    margin-left: 20px;
    margin-top: 20px;
}
.box_content {
    margin-top: 15px;
}
.page_box p{
    margin-left:20px;
    margin-bottom: 0;
    font-size:16px;
    color:#9D9D9D;
}
.page_box .ed_name{
    color:#000000;
}
.page_box:hover{
    background: #f6fbfe;
    border: 2px solid dodgerblue;
}
.ed_content {
    width: 306px;
    max-height: 72px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* pagination */
.pagination a {
    margin-top: 50px;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    transition: background-color .3s;
  }
  .pagination a:hover {
    background-color: dodgerblue ;
    color: white;
    border-radius: 50px;
  }
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
    border-radius: 50px;
  }


@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_logo{

        margin-right: 115px;
        align-items: start;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_login {
        display: none;
        justify-content: center;
        margin-right: 90px;
        width: 100%;
    }
    .navbar_toggleBtn{
        display: block;
    }
    .navbar_menu.active, .navbar_login.active {
        display: flex;
    }

    /*header */
    .header .title{
        margin-left:10px;
        padding-top:10px;
        font-size:30px;
    }
    .header .search_form{
        padding-top:25px;
    }
    .header .search_education{
        width:300px;
        height:30px;
        margin-left:20px;
    }
    .header .submit_education{
        width:40px;
        height:30px;
        font-size:16px;
    }
    .header .category_education{
        width:70px;
        height:30px;
        font-size:16px;
    }
    .header img{
        width:100px;
        height:150px;
        margin-left:15px;
    }
    /*카테고리*/
    .category .optional #ed_target{
        width:80px;
        height:30px;
        font-size:16px;
        margin:10px 5px 0px 20px;
    }
    .category .optional #ed_field{
        width:80px;
        height:30px;
        font-size:16px;
        margin:10px 5px 0px 20px;
    }

    /*페이지네이션 */
    .page{
        margin-top:25px;
        margin-left:20px;
        grid-template-columns: 1fr 1fr;
        gap:10px 15px;
    }
    .page .section{
        width:250px;
        height:300px;
    }
    .page .section img{
        margin-top:10px;
        width:200px;
        height:130px;
        margin-left:25px;
    }
    .page .section p{
        margin-left:10px;
        margin-top:10px;
        font-size:14px;
    }



}