@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.gangwon-font {
    font-family: 'GangwonState', sans-serif;
}
.display-container{
    margin: auto;
    max-width: 1200px;   
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: white;
}
/* navbar section */
.navbar {
    background-color: #033075;
    padding: 8px 12px;
}
.navbar_logo img {
    width: 130px;
    height: 25px;
    margin-left: 20px;
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar_menu li {
    padding: 8px 12px;
}
.navbar a {
    color: white;
}
.navbar_menu li:hover {
    background-color: #f0f4f5;
    border-radius: 4px;
}
.navbar_menu li:hover > a {
    color: #033075;
}
.navbar_login {
    list-style: none;
    color: #f0f4f5;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 12px;
}
.logoutBtn {
    margin-right: 15px;
}
.navbar_login li:hover {
    background-color: #f0f4f5;
    border-radius: 4px;
    padding: 6px 4px;
}
.navbar_login li:hover > a {
    color: #033075;
}
.navbar_login i{
    padding-left: 5px;
}
.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 20px;
    color: #d49466  ;
}
.navbar_toggleBtn:hover i:hover {
    color: #f0f4f5;
}
/* main */
.main{
    white-space: nowrap; /*가로 폭이 줄어들었을 때 자동 줄바꿈이 일어나지 않도록함*/
    margin-top: 56px; 
}
.main p{
    color:#4D4D4D;
}
/* main > first */
.first{
    display:flex;
    justify-content: space-around;
    margin-top:20px;
    align-items: center;
}
.first p{
    margin-top:20px;
    font-size:25px;
}
.first img{
    width:80px;
    height:25px;
}
/* main > second */
.second{
    background-color: #F5F7FA;
    display:flex;
    justify-content: space-between;
}
.second .second_text{
    margin-top:80px;
    margin-bottom:20px;
    margin-left:60px;
}

.second .second_main1{
    font-size:50px;
    color:#4D4D4D;
}
.second .second_main2{
    margin-top:-30px;
    font-size:50px;
    color:#033075;
}
.second .second_sub{
    font-size:18px;
    color:#717171;
}
.second .category{
    background-color:#033075;
    width:150px;
    height:50px;
    border-radius:5px;
}
.second .category .category_button{
    margin-left:20px;
    margin-top:10px;
    font-size:20px;
}
.second img{
    width:400px;
    margin:0 80px 0 0;
}

/* main > third */
.third{
    background-color:#F5F7FA;
    display:flex;
    padding-top:10px;
    margin-bottom:10px;
}
.third img{
    margin-left:60px;
}
.third .third_text{
    margin-left:145px;
    margin-bottom:10px;
    padding-top:30px;
}
.third .third_text .third_main{
    font-size:50px;
}
.third .third_text .third_sub{
    font-size:18px;
    color:#717171;
    margin-left: 8px;
}
.third_text .benefit_button{
    width: 150px;
    height: 50px;
    background-color: #033075;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
.third_text .benefit{
    font-size: 20px;
    color: white;
    padding-top: 10px;
}


/* main > fourth*/
.fourth{
    display:flex;
    padding-top:10px;
    margin-bottom:10px;
    height: 300px;
}
.fourth img{
    margin-left: 77px;
    width: 280px;
}
.fourth .fourth_text{
    margin-left:112px;
    margin-bottom:10px;
    padding-top:30px;
}
.fourth .fourth_text .fourth_main{
    font-size:50px;
}
.fourth .fourth_text .fourth_sub{
    font-size:18px;
    margin-left: 8px;
    color:#717171;
}

.fourth_text .education_button{
    width: 150px;
    height: 50px;
    background-color: #033075;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
.fourth_text .education{
    font-size: 20px;
    color: white;
    padding-top: 10px;
}

/* main > fifth */
.fifth{
    display:flex;
    padding-top:10px;
    margin-bottom:10px;
}
.fifth img{
    margin-left: 90px;
}
.fifth .fifth_text{
    margin-left:130px;
    margin-bottom:10px;
    padding-top:30px;
}
.fifth .fifth_main{
    font-size:50px;
}
.fifth .fifth_sub{
    font-size:18px;
    margin-left: 8px;
    color:#717171;
}
.fifth_text .professor_button {
    width: 150px;
    height: 50px;
    background-color: #033075;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
.professor_button .professor {
    font-size: 20px;
    color: white;
    padding-top: 10px;
}

@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_logo img{
        margin-left:0px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_login {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toggleBtn{
        display: block;
    }
    .navbar_menu.active, .navbar_login.active {
        display: flex;
    }
    /* main */
    .main{
        white-space: initial;
        margin-top:0px;
    }

    /*main > first */
    .first p{
        font-size:16px;
    }
    .first img{
        width:50px;
        margin-top:2px;
    }

    /* main > second */
    .second .second_text{
        margin-left:20px;
        margin-top:30px;
    }
    .second .second_text .second_main1{
        font-size:20px;
        width:400px;
    }
    .second .second_text .second_main2{
        font-size:20px;
        margin-top:-20px;
    }
    .second .second_text .second_sub{
        font-size:14px;
    }
    .second .second_text .category{
        width:100px;
        height:30px;
    }
    .second .second_text .category .category_button{
        font-size: 14px;
        margin-left:13px;
        margin-top:5px;
    }

    .second img{
        width:200px;
        margin:auto;
        padding-right:50px;
    }

    /* main > third */
    .third img{
        width:180px;
        height:180px;
        margin-left:20px;
    }
    .third .third_text{
        margin-left:20px;
    }
    .third .third_text .third_main{
        font-size:20px;
    }
    .third .third_text .third_sub{
        font-size:12px;
    }
    .third_text .benefit_button{
        height:40px;
    }
    .third .third_text .benefit{
        width:100px;
        height:30px;
        font-size:18px;
        padding-top:7px;
    }
    .third .third_text .benefit .benefit_button{
        font-size: 14px;
        margin-left:13px;
        margin-top:5px;
    }

    /* main > fourth */
    .fourth{
        height:200px;
    }
    .fourth img{
        margin-left:20px;
        width:180px;
        height:180px;
    }
    .fourth .fourth_text{
        margin-left:20px;
    }
    .fourth .fourth_text .fourth_main{
        font-size:20px;
    }
    .fourth .fourth_text .fourth_sub{
        font-size:12px;
    }
    .fourth .education{
        width:100px;
        height:30px;
        padding-top:7px;
        text-align: center;
    }
    .fourth .education .education_button{
        font-size: 14px;
        margin-left:25px;
        margin-top:5px;
    }
    .fourth_text .education_button{

        height:40px;
        width:150px;
    }
    /* main > fifth*/
    .fifth img{
        margin-left:20px;
        width:180px;
        height:180px;
    }
    .fifth .fifth_text{
        margin-left:20px;
    }
    .fifth .fifth_main{
        font-size:20px;
    }
    .fifth .fifth_sub{
        font-size:12px;
    }
    .fifth_text .professor_button{
        height:40px;
    }
    .fifth .fifth_text .professor{
        width: 100px;
        height: 30px;
        font-size: 18px;
        padding-top: 7px;
        text-align: center;
    }
    .fifth .fifth_text .professor .professor_button{
        font-size: 14px;
        margin-left:25px;
        margin-top:5px;
    }
}